/* Course card */
.card {
    background-color: #fff;
    max-width: 350px;
    border: 1px solid #cccccc80;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    font-family: sans-serif;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 350px;
    height: 550px;
}

.courseImg {
    display: block;
    background-color: #fff;
    border: 1px solid #cccccc80;
    border-radius: 4px;
    width: 350px;
    text-align: center;
}   

.card img {
    width: 250px;
    height: 250px;
    margin: 0;   
}

.courseName {
    display: block;
    margin: 0;  
}

.courseDescription {
    display: block;
    margin: auto;  
}

/* Rating stars */
.rating {
    font-size: 1.5em;
    display: block;
    gap: 4px; 
}

.rating .star.filled {
    color: #f90;
}

.rating .star.empty {
    color: #ccc;
}

.rating p {
    display: inline-block;
    font-size: medium;
    margin-right: 10px;
}

.coursePrice {
    display: block;
    margin: 0;
} 

.courseAuthor {
    display: block;
    margin: 0;
}

/* background-color: #ff9900 */
.addCart {
    background-color: #2196F3;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
}

.addCart button {
    background-color: #2196F3;
    border-style: hidden;
    border-radius: 5px;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    padding: 10px 0px;
    width: 100%;
}

.addedToCart button {
    background-color: #4caf50;
    border-style: hidden;
    border-radius: 5px;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    padding: 10px 0px;
    width: 100%;
}

p {
    padding: 0;
    margin: 10px 0px;
}

body {
    font-family: sans-serif;
}