footer {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    color:blueviolet;
    font-size: medium;
    font-weight: lighter;
    width: 100%;
    text-align: center;
}