.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 5px 0;
  align-items: stretch;
}
